:root {
  --primary: #ffaacf;
  --bg: #ffd4d4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Work Sans", sans-serif;
  background-color: var(--bg);
  color: #0000;
  /* min-height: 2000px; */
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 7%;
  background-color: hsla(336, 100%, 69%, 0.8);
  border-bottom: 1px solid #ff5f9e;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 1.8rem;
  font-weight: 700;
  color: #ffff;
  font-style: italic;
}

.navbar .navbar-logo span {
  color: #9c254d;
}

.navbar .navbar-nav a {
  color: #ffff;
  display: inline-block;
  font-size: 1.1rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--bg);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.2rem;
  border-bottom: 0.2rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: #ffff;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

#hamburger-menu {
  display: none;
}

/* Hero Section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../img/red-velvet.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 10%;
  background: linear-gradient(
    0deg,
    rgba(1, 1, 3, 1) 3% rgba(255, 255, 255, 0) 25%
  );
}

.hero .content {
  padding: 1.5rem 7%;
  max-width: 60rem;
}

.hero .content h1 {
  font-size: 2.1rem;
  color: #ffff;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1.2;
}

.hero .content h1 span {
  color: var(--primary);
}

.hero .content p {
  font-size: 1.3rem;
  color: #fff;
  margin: 0.5rem;
  line-height: 1.4;
  font-weight: 100;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 1);
  mix-blend-mode: difference;
}

.hero .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.5rem 2rem;
  font-size: 1.4rem;
  color: #fff;
  background-color: var(--primary);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

/* Profile Section */
.profile {
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
}

.profile h2 {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: var(--primary);
  text-shadow: 1px 1px 3px var(--primary);
}

.profile .row {
  display: block;
}

.profile .row img {
  flex: 1 1 4rem;
  max-width: 14rem;
  border-radius: 5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.4);
}

.profile p {
  line-height: 1.5rem;
}

/*  Footer Section */
footer {
  background-color: var(--primary);
  text-align: center;
  padding: 0.5rem 0;
  margin-top: 5rem;
}

footer .social {
  padding: 1rem 0;
}

footer .social a {
  color: #fff;
  margin: 1rem;
}

footer .credit p {
  color: #9c254d;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.2);
  text-decoration: none;
}

footer .credit a {
  color: #fff;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.2);
}

/* Media Queries */

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 758px) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--primary);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  footer {
    display: inline-block;
    width: 100%;
  }
}

/* Mobile */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}